name: Test deployment

on:
  pull_request:
    branches: [main]
    paths: [website/**]

jobs:
  test-deploy:
    name: Test deployment
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 17.x
          cache: yarn
          cache-dependency-path: website/yarn.lock
      - name: Install dependencies
        working-directory: website
        run: yarn install --frozen-lockfile
      - name: Test build website
        working-directory: website
        run: yarn build